/*header,footer,section,div,*{
	outline: 1px dashed red;
}
*/
body{
	text-align: right;
}

a{
	text-decoration: none;
	font-family: 'tahoma';
	text-align: right;
	color: #111;
}

menu,p{
	margin: 0;
}

h2,p{
	font-family: 'tahoma';
	text-align: right;
}

.hline{
	min-height: 2px;
	background-image: url('./images/separator3.gif');
	background-repeat: repeat-x;
}
/*------------------------------Header-------------------------------*/
/*Top Header*/
header .top-header{
	background-color: #19292E;
	min-width: 1000px;
}

header .top-header .container .menu{
	min-width: 400px;
	float: right;
}

header .top-header .container .menu nav menu li{
	float: right;
	background-image: url('./images/separator-toolbar.png');
	background-repeat: no-repeat;
	background-position: right center; 
}

header .top-header .container .menu nav menu li:first-child{
	background-image: none;
}

header .top-header .container .menu nav menu li a{
	display: block;
	color: #A8ACAF;
	margin: 6px 10px;
	font-size: 12px;
	-webkit-transition: color 500ms;
	-moz-transition: color 500ms;
	-ms-transition: color 500ms;
	-o-transition: color 500ms;
	transition: color 500ms;
}

header .top-header .container .menu nav menu li a:hover{
	color: #fff;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	-ms-transition: color 300ms;
	-o-transition: color 300ms;
	transition: color 300ms;
}

header .top-header .container .menu nav menu li:first-child a{
	margin-right: 0;
}

header .top-header .container .left{
	width: 300px;
	float: left;
}

header .top-header .container .left .tel{
	margin: 6px 0;
}

header .top-header .container .left .tel p{
	color: #A8ACAF;
	text-align: left;
	font-size: 12px;
}

/*Main Header*/
header .main-header{
	background-image: url('./images/bg-header-holder.jpg');
	background-repeat: repeat-x;
	background-color: #19292E;
	min-width: 1000px;
}

header .main-header .ray{
	background-image: url('./images/rays.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 32px 0;
}

/*Start Main Menu*/
header .main-header .container .menu{
	float: right;
	margin-top: 10px;
}

header .main-header .container .menu nav > menu >  li{
	position: relative;
	float: right;
	background-image: url('./images/seperator-main-nav.png');
	background-repeat: no-repeat;
	background-position: right center;
}

header .main-header .container .menu nav menu li:first-child{
	background-image: none;
}

header .main-header .container .menu nav menu li a{
	display: block;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 5px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

header .main-header .container .menu nav menu li:hover{
	background-image: none;
}

header .main-header .container .menu nav menu li:first-child a{
	margin-right: 0;
}
/*End of Main Menu*/
/*Start Submenu of Main Menu*/
header .main-header .container .menu nav menu li menu{
	position: absolute;
	top: 38px;
	right: 0;
	z-index: 100;
	background-color: #222;
	min-width: 120px;
	border-radius: 5px 0 5px 5px;
	display: none;
	padding: 0;
}

header .main-header .container .menu nav menu li:hover menu,
header .main-header .container .menu nav > menu > li:hover > a{
	display: block;
	background-color: #222;
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms;
	-ms-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;
}

header .main-header .container .menu nav menu li menu li:first-child a{
	margin-top: 15px;
}

header .main-header .container .menu nav menu li menu li{
	margin: 0 5px;
}

header .main-header .container .menu nav menu li menu li a{
	margin: 5px 0;
	padding: 5px 15px 5px 50px;
	white-space: nowrap;
	-webkit-transition: background-color 600ms;
	-moz-transition: background-color 600ms;
	-ms-transition: background-color 600ms;
	-o-transition: background-color 600ms;
	transition: background-color 600ms;
}

header .main-header .container .menu nav menu li menu li:hover a{
	background-color: #5A7C87;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
	-ms-transition: background-color 300ms;
	-o-transition: background-color 300ms;
	transition: background-color 300ms;
}
/*End Submenu of Main Menu*/

header .main-header .container .logo{
	width: 215px;
	float: left;
}

header .main-header .container .logo h2{
	display: inline;
	font-style: italic;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	font-size: 25px;
}

header .main-header .container .logo span.techno{
	color: #fff;
}

header .main-header .container .logo span.print{
	color: #B1B1B1;
}
/*------------------------------Middle-------------------------------*/
div.shadow-top{
	min-height: 37px;
	background-image: url('./images/bg-div-main.jpg');
	background-repeat: repeat-x;
	min-width: 1000px;
	padding-bottom: 6px;
}

section.middle{
	background-color: #f3f3f3;
	min-width: 1000px;
}

section.middle .container .text{
	min-height: 71px;
	margin: 40px 0;
	padding: 0 5px;
}

section.middle .container .text p{
	padding: 10px 0;
	margin-bottom: 2px;
	font-size: 18px;
	line-height: 2;
}

section.middle .container .products{
	margin-bottom: 40px;
}

section.middle .container .products .first,
section.middle .container .products .second,
section.middle .container .products .third,
section.middle .container .products .forth{
	float: right;
	width: 213px;
	margin-right: 31px;
	min-height: 368px;
}

section.middle .container .products .first .frame,
section.middle .container .products .second .frame,
section.middle .container .products .third .frame,
section.middle .container .products .forth .frame{
	width: 208px;
	height: 140px;
	background-image: url('./images/image-frame-sprite-2.png');
	background-repeat: no-repeat;
	background-position: -2px -465px;
}

section.middle .container .products .first{
	margin-right: 0;
}

section.middle .container .products .frame img{
	width: 190px;
	height: 111px;
	margin-top: 8px;
	margin-right: 9px;
}

section.middle .container .products .desc{
	margin-right: 5px;
}

section.middle .container .products .desc .title h2{
	font-size: 18px;
}

section.middle .container .products .desc .txt p{
	font-size: 14px;
}

section.middle .container .partner{
	padding: 0 5px;
}

section.middle .container .partner .first,
section.middle .container .partner .second,
section.middle .container .partner .third,
section.middle .container .partner .forth,
section.middle .container .partner .fifth{
	float: right;
	width: 172px;
	min-height: 57px;
	margin-right: 20px;
	outline: 1px solid #e3e1e1;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 20px;
}

section.middle .container .partner .first img,
section.middle .container .partner .second img,
section.middle .container .partner .third img,
section.middle .container .partner .forth img,
section.middle .container .partner .fifth img{
	width: 172px;
	min-height: 57px;
}

section.middle .container .partner .first{
	margin-right: 0;
}
/*------------------------------footer-------------------------------*/
/*Main Footer*/
footer .main-footer{
	background-image: url('./images/bg-footer.jpg');
	background-repeat: repeat-x;
	background-color: #19292E;
	min-width: 1000px;
}

footer .main-footer .container .first,
footer .main-footer .container .second,
footer .main-footer .container .third,
footer .main-footer .container .forth{
	float: right;
	width: 213px;
	margin-right: 32px;
	min-height: 320px;
	margin-top: 60px;
}

footer .main-footer .container h2{
	color: #fff;
	font-size: 17px;
	border-bottom: 1px solid #5F7984;
	padding-bottom: 8px;
}

footer .main-footer .container .first{
	margin-right: 0;
}

footer .main-footer .container .title h2{
	color: #fff;
	font-size: 16px;
	border-bottom: 0;
	margin: 0;
}

footer .main-footer .container p{
	color: #7A93A1;
	font-size: 13px;
	margin-bottom: 15px;
	-webkit-transition: color 500ms;
	-moz-transition: color 500ms;
	-ms-transition: color 500ms;
	-o-transition: color 500ms;
	transition: color 500ms;
}

footer .main-footer .container .first a:hover p{
	color: #fff;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	-ms-transition: color 300ms;
	-o-transition: color 300ms;
	transition: color 300ms;
}

footer .main-footer .container .link{
	margin-bottom: 20px;
}

footer .main-footer .container .second .click-here{
	margin-bottom: 17px;
}

footer .main-footer .container .second .click-here img{
	float: right;
	margin-left: 18px;
}

footer .main-footer .container .third li{
	float: right;
	margin-left: 10px;
	margin-bottom: 20px;
}

footer .main-footer .container .third li:first-child{
	margin-right: 0;
}

footer .main-footer .container .third li a{
	-webkit-transition: opacity 700ms;
	-moz-transition: opacity 700ms;
	-ms-transition: opacity 700ms;
	-o-transition: opacity 700ms;
	transition: opacity 700ms;
}

footer .main-footer .container .third li a:hover{
	opacity: 0.6;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

footer .main-footer .container .third li.rss a{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('./images/global-sprite.png');
	background-repeat: no-repeat;
	background-position: -786px -27px;
}

footer .main-footer .container .third li.twitter a{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('./images/global-sprite.png');
	background-repeat: no-repeat;
	background-position: -857px -27px;
}

footer .main-footer .container .third li.facebook a{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('./images/global-sprite.png');
	background-repeat: no-repeat;
	background-position: -822px -27px;
}

footer .main-footer .container .third li.flickr a{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('./images/global-sprite.png');
	background-repeat: no-repeat;
	background-position: -893px -27px;
}

footer .main-footer .container .third li.youtube a{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('./images/global-sprite.png');
	background-repeat: no-repeat;
	background-position: -929px -27px;
}

footer .main-footer .container .forth form{
	float: right;
}

footer .main-footer .container .forth form input{
	width: 195px;
	height: 25px;
	margin-bottom: 15px;
	outline: none;
}

footer .main-footer .container .forth form button{
	float: right;
	margin-top: 10px;
	padding: 4px 8px;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

footer .main-footer .container .forth form button:hover{
	opacity: 0.7;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

footer .main-footer .container .forth p{
	color: #8B949A;
	margin-bottom: 5px;
}
/*Bottom of  Footer*/
footer .bot-footer{
	background-image: url('./images/bg-footer-bottom.jpg');
	background-repeat: repeat-x;
	background-color: #111C20;
	min-width: 1000px;
}

footer .bot-footer .container{
	padding: 33px 0;
}

footer .bot-footer .container .top{
	float: right;
	width: 50px;
}

footer .bot-footer .container .top a{
	width: 45px;
	height: 22px;
	display: block;
	float: right;
	background-image: url('./images/arrow-up-footer.png');
	background-repeat: no-repeat;
	background-position: right;
}

footer .bot-footer .container .top p{
	margin-right: 15px;
	font-size: 13px;
	margin-top: 3px;
	color: #fff;
}

footer .bot-footer .container .menu{
	margin-right: 55px;
	margin-left: 405px;
}

footer .bot-footer .container .menu nav{
	margin-top: 2px;
}

footer .bot-footer .container .menu nav menu li{
	float: right;
}

footer .bot-footer .container .menu nav menu li a{
	display: block;
	margin: 0 5px;
	color: #7A93A1;
	-webkit-transition: color 500ms;
	-moz-transition: color 500ms;
	-ms-transition: color 500ms;
	-o-transition: color 500ms;
	transition: color 500ms;
}

footer .bot-footer .container .menu nav menu li a:hover{
	color: #fff;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	-ms-transition: color 300ms;
	-o-transition: color 300ms;
	transition: color 300ms;
}

footer .bot-footer .container .menu nav menu li p{
	font-size: 13px;
}

footer .bot-footer .container .copyright{
	float: left;
	width: 400px;
}

footer .bot-footer .container .copyright p{
	color: #BCBCBC;
	font-size: 12px;
	margin-top: 4px;
	text-align: left;
}
/*------------------------------Contact Page---------------------------*/
section.contact{
	background-color: #F3F3F3;
	min-width: 1000px;
}

section.contact .container{
	min-height: 800px;
}

#title-pages #top-pic{
	height: 4px;
	background-image: url('./images/bg-tools-t.jpg');
	background-repeat: no-repeat;
}

#title-pages #bot-pic{
	height: 7px;
	background-image: url('./images/bg-tools-b.jpg');
	background-repeat: no-repeat;
}

#title-pages #main-pic{
	height: 48px;
	background-image: url('./images/bg-tools-c.jpg');
	background-repeat: repeat-y;
	color: #fff;
}

#title-pages #main-pic #title{
	float: right;
	width: 150px;
	height: 48px;
	margin-right: 20px;
	margin-top: 8px;
}

#title-pages #main-pic #title p{
	font-size: 20px;
}

#title-pages #main-pic #search{
	float: left;
	width: 210px;
	height: 48px;
}

#title-pages #main-pic #search .search-box{
	background: #111f22;
	margin-top: 11px;
}

#title-pages #main-pic #search .search-box input{
	background: #111f22;
	border: 0;
	float: right;
	outline: none;
}

#title-pages #main-pic #search .search-box input.text{
	border-radius: 0px 5px 5px 0px;
	width: 150px;
	height: 23px;
	color: #fff;
	padding: 3px 6px;
	text-align: right;
}

#title-pages #main-pic #search .search-box input.submit{
	border-radius: 5px 0px 0px 5px;
	background-image: url('./images/search.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 29px;
	padding-right: 10px;
}

#title-pages #main-pic #menu{
	margin-right: 150px;
	margin-left: 220px;
	height: 48px;
}

#title-pages #main-pic #menu nav menu li{
	float: left;
	position: relative;
	margin-top: 15px;
}

#title-pages #main-pic #menu nav menu li:first-child span{
	position: absolute;
	top: 32px;
	left:50%;
	display: block;
	width: 16px;
	height: 8px;
	background-image: url('./images/arrow-up.png');
	background-repeat: no-repeat;
}

#title-pages #main-pic #menu nav menu li a{
	color: #fff;
	display: block;
	margin: 0 5px;
	background-image: url('./images/arrow-right.png');
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 13px;
	text-decoration: underline;
	-webkit-transition: color 500ms;
	-moz-transition: color 500ms;
	-ms-transition: color 500ms;
	-o-transition: color 500ms;
	transition: color 500ms;
}

#title-pages #main-pic #menu nav menu li p{
	margin-left: 15px;
}

#title-pages #main-pic #menu nav menu li:first-child a{
	background-image: none;
	text-decoration: none;
}

#title-pages #main-pic #menu nav menu li a:hover{
	color: #CCC;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	-ms-transition: color 300ms;
	-o-transition: color 300ms;
	transition: color 300ms;
}

#title-pages #main-pic #menu nav menu li:first-child a:hover{
	color: #fff;
	cursor: text ;
}