header,footer,section,div,*{
	outline: 1px dashed red;
}

a{
	text-decoration: none;
	font-family: 'tahoma';
	text-align: right;
}

menu,p{
	margin: 0;
}

h2,p{
	font-family: 'tahoma';
	text-align: right;
}


.hline{
	min-height: 2px;
	background-image: url('./images/separator3.gif');
	background-repeat: repeat-x;
}
/*------------------------------Header-------------------------------*/
/*Top Header*/
header .top-header{
	background-color: #19292E;
}

header .top-header .container .menu{
	min-width: 400px;
	float: right;
}

header .top-header .container .menu nav menu li{
	float: right;
	background-image: url('./images/separator-toolbar.png');
	background-repeat: no-repeat;
	background-position: right center; 
}

header .top-header .container .menu nav menu li:first-child{
	background-image: none;
}

header .top-header .container .menu nav menu li a{
	display: block;
	color: #A8ACAF;
	margin: 6px 10px;
	font-size: 12px;
}

header .top-header .container .menu nav menu li:first-child a{
	margin-right: 0;
}

header .top-header .container .left{
	width: 300px;
	float: left;
}

header .top-header .container .left .tel{
	margin: 6px 0;
}

header .top-header .container .left .tel p{
	color: #A8ACAF;
	text-align: left;
	font-size: 12px;
}

/*Main Header*/
header .main-header{
	background-image: url('./images/bg-header-holder.jpg');
	background-repeat: repeat-x;
	background-color: #19292E;
}

header .main-header .ray{
	background-image: url('./images/rays.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 32px 0;
}

/*Start Main Menu*/
header .main-header .container .menu{
	float: right;
	margin-top: 18px;
}

header .main-header .container .menu nav menu li{
	float: right;
	background-image: url('./images/seperator-main-nav.png');
	background-repeat: no-repeat;
	background-position: right center;
}

header .main-header .container .menu nav menu li:first-child{
	background-image: none;
}

header .main-header .container .menu nav menu li a{
	display: block;
	color: #fff;
	font-size: 16px;
	margin: 3px 7px;
}

header .main-header .container .menu nav menu li:first-child a{
	margin-right: 0;
}

/*End of Main Menu*/

header .main-header .container .logo{
	width: 215px;
	float: left;
}

header .main-header .container .logo h2{
	display: inline;
	font-style: italic;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	font-size: 25px;
}

header .main-header .container .logo span.techno{
	color: #fff;
}

header .main-header .container .logo span.print{
	color: #B1B1B1;
}
/*------------------------------Middle-------------------------------*/
div.shadow-top{
	min-height: 37px;
	background-image: url('./images/bg-div-main.jpg');
	background-repeat: repeat-x;
}

section.middle{
	background-color: #f3f3f3;
}

section.middle .container .slideshow{
	padding-top: 6px;
}

section.middle .container .text{
	min-height: 71px;
	margin: 40px 0;
	padding: 0 5px;
}

section.middle .container .text p{
	padding: 10px 0;
	margin-bottom: 2px;
	font-size: 18px;
	line-height: 2;
}

section.middle .container .products{
	margin-bottom: 40px;
}

section.middle .container .products .first,
section.middle .container .products .second,
section.middle .container .products .third,
section.middle .container .products .forth{
	float: right;
	width: 213px;
	margin-right: 31px;
	min-height: 368px;
}

section.middle .container .products .first .frame,
section.middle .container .products .second .frame,
section.middle .container .products .third .frame,
section.middle .container .products .forth .frame{
	width: 208px;
	height: 140px;
	background-image: url('./images/image-frame-sprite-2.png');
	background-repeat: no-repeat;
	background-position: -2px -465px;
}

section.middle .container .products .first{
	margin-right: 0;
}

section.middle .container .products .frame img{
	width: 190px;
	height: 111px;
	margin-top: 8px;
	margin-left: 9px;
}

section.middle .container .products .desc{
	margin-right: 5px;
}

section.middle .container .products .desc .title h2{
	font-size: 18px;
}

section.middle .container .products .desc .txt p{
	font-size: 14px;
}

section.middle .container .partner{
	padding: 0 5px;
}

section.middle .container .partner .first,
section.middle .container .partner .second,
section.middle .container .partner .third,
section.middle .container .partner .forth,
section.middle .container .partner .fifth{
	float: right;
	width: 172px;
	min-height: 57px;
	margin-right: 20px;
	outline: 1px solid #e3e1e1;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 20px;
}

section.middle .container .partner .first img,
section.middle .container .partner .second img,
section.middle .container .partner .third img,
section.middle .container .partner .forth img,
section.middle .container .partner .fifth img{
	width: 172px;
	min-height: 57px;
}

section.middle .container .partner .first{
	margin-right: 0;
}
/*------------------------------footer-------------------------------*/
/*Main Footer*/
footer .main-footer{
	background-image: url('./images/bg-footer.jpg');
	background-repeat: repeat-x;
	background-color: #19292E;
}

footer .main-footer .container .first,
footer .main-footer .container .second,
footer .main-footer .container .third,
footer .main-footer .container .forth{
	float: right;
	width: 213px;
	margin-right: 32px;
	min-height: 320px;
	margin-top: 60px;
}

footer .main-footer .container h2{
	color: #fff;
	font-size: 17px;
	border-bottom: 1px solid #5F7984;
	padding-bottom: 8px;
}

footer .main-footer .container .first{
	margin-right: 0;
}
/*Bottom of  Footer*/
footer .bot-footer{
	background-image: url('./images/bg-footer-bottom.jpg');
	background-repeat: repeat-x;
	background-color: #111C20;
}

footer .bot-footer .container{
	min-height: 88px;
}

footer .bot-footer .container .top{
	float: right;
	width: 50px;
	height: 88px;
}

footer .bot-footer .container .menu{
	min-width: 356px;
	min-height: 88px;
	margin-right: 55px;
	margin-left: 315px;
}

footer .bot-footer .container .copyright{
	float: left;
	width: 301px;
	min-height: 88px;
}